@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
.container{
  margin:3em;
}
.tittle{
  margin: 1em 0em;
  text-align: center;;
}

Nav{
  width: 90vw;
  display: flex;
}
.tab-content{
  margin: 2em 0em;
  width: 120%;
}
.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  margin: 1em;
  width: 30%;
  border: thin grey solid;
  padding: 0.2em;
}
.card-img-top{
  width: 100%;
}
.btn{
  border: thin grey solid;
  border-radius: 5px;
  padding: 0.5em;
  background-color: blue;
  text-decoration: none;
  color: white;
}